@model Razor.Models.ViewModels.ListTablaViewModelSalaJuntas
@{

    ViewBag.Title = "Registrar Sala";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Nueva_Sala", "Tabla", FormMethod.Post))
{
    <div class="row">

        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.Sala)
                @Html.DropDownListFor(d => d.Sala, ViewBag.TipoSalaList as SelectList, "--Seleciona Sala--", new { @class = " form-control" })
                @Html.ValidationMessageFor(d => d.Sala, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.NombreEmpleado)
                @Html.DropDownListFor(d => d.NombreEmpleado, ViewBag.SalaJuntasList as SelectList,"--Seleciona Empleado--", new { @class = " form-control" })
                @Html.ValidationMessageFor(d => d.NombreEmpleado, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.FechaRecepcion)<br />
                @Html.EditorFor(d => d.FechaRecepcion, "", new { @class = " form-control" })
                @Html.ValidationMessageFor(d => d.FechaRecepcion, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.TotalPersonas)
                @Html.TextBoxFor(d => d.TotalPersonas, "", new { @class = " form-control" })
                @Html.ValidationMessageFor(d => d.TotalPersonas, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Horas)
                @Html.TextBoxFor(d => d.Horas, "", new { @class = " form-control" })
                @Html.ValidationMessageFor(d => d.Horas, null, new { @class = "red" })
            </div>

            <br />

            <div style="text-align:inherit;padding:5px;">
                <input value="Guardar Registro" class="btn btn-primary" type="submit" />
            </div>


        </div>

    </div>
}